.slider {

  &__item {
    position: relative;
    z-index: 1;
    max-width: 100%;
  }

  &__background {
    height: 100vh;
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.6);
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    position: absolute;
    z-index: 2;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet) {
      width: 70%;
    }

    @media (min-width: $desktop) {
      width: 50%;
    }
  }

  &__wrap {
    @media (max-width: $mobileOnly) {
      text-align: left !important;
    }
  }

  &__title {
    color: white;

    @media (min-width: $desktop) {
      font-size: 50px;
    }
  }

  &__desc {
    color: white;
  }

  &__links {
    a {
      margin-bottom: 15px;
      margin-right:15px;
      
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .slick-dots {
    bottom: 40px;
  }

  .slick-dots li {
    border-radius: 50px;

    button:before {
      opacity: 1;
      font-size: 20px;
      color: $orange;
    }

    &.slick-active {
      button:before {
        color: $white;
      }
    }
  }

  .slick-arrow {
    z-index: 2;
  }

  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: 0;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 50px;
  }
}